# Loop

In [1]:
fruits=["mango","banana","cherry"]
for x in fruits:
    print(x)

mango
banana
cherry

In [6]:
a = [10,20]
for x in a:
    print(x)

10
20

# Range function

In [7]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

# (starting,ending)

In [8]:
for x in range(10,20):
    print(x)

10
11
12
13
14
15
16
17
18
19

# (starting,ending,increment)

In [11]:
for x in range(2,30,3):           
    print(x)

2
5
8
11
14
17
20
23
26
29

# (starting,ending,decrement)

In [12]:
for x in range(30,2,-3):             
    print(x)

30
27
24
21
18
15
12
9
6
3

# Range function with else

In [13]:
for x in range(10):
    print(x)
else:
    print("End")

0
1
2
3
4
5
6
7
8
9
End

# List

In [15]:
first =["red","big","tasty"]
second=["apple","Bananna","cherry"]
for x in first:
    for y in second:
        print(x,y)

red apple
red Bananna
red cherry
big apple
big Bananna
big cherry
tasty apple
tasty Bananna
tasty cherry

# Break

In [31]:
first =["red","big","tasty"]
for x in first:
    if x == "big":
         break
print(x)

big

# continue

In [32]:
first =["red","big","tasty"]
for x in first:
    if x == "big":
         continue
print(x)

tasty

# Add some numbers with loop

In [38]:
numbers = [3,4,6,7,8,45,33]
sum = 0
for x in numbers:
    sum=sum+x
print(sum)

106

In [39]:
numbers =[3,3,3,3]
sum = 0
for x in numbers:
    sum= sum+x
print(sum)

12

In [44]:
numbers =[3,3,3,-3]
sum = 0
for x in numbers:
    sum= sum+x
print(sum)

6

# multiplication

In [52]:
num =[3,3,2,2]
mul=1
for x in num:
    mul = mul*x
print(mul)

36

# multiplication user input

In [59]:
num1 = int(input("Enter first number:"))
num2 = int(input("Enter second number:"))
mul = num1*num2
print(mul)

Enter first number:3
Enter second number:4
12

# divide numbers

In [56]:
number1 = 22
number2 = 2
divide = number1/number2
print(divide)

11.0

# divide numbers user input

In [1]:
num1 = int(input("Enter the first number:"))
num2 = int(input("Enter the second number:"))
divide = num1/num2
print(divide)

Enter the first number:55
Enter the second number:11
5.0

# Enumerate

In [5]:
iteams=['apple','orange','mango']           # enumerate k list akare call krte hoi
x=enumerate(iteams)
print(list(x))

[(0, 'apple'), (1, 'orange'), (2, 'mango')]

In [7]:
name=['sumona','ispa','nahar','sorna','sayma','taposhi']
x=enumerate(name)
print(list(x))

[(0, 'sumona'), (1, 'ispa'), (2, 'nahar'), (3, 'sorna'), (4, 'sayma'), (5, 'taposhi')]

In [9]:
numbers = [3,3,4,4,36,5,3,6,66,67,67,78]
x=enumerate(numbers)
print(list(x))

[(0, 3), (1, 3), (2, 4), (3, 4), (4, 36), (5, 5), (6, 3), (7, 6), (8, 66), (9, 67), (10, 67), (11, 78)]

In [10]:
numbers = [3,3,4,4,36,5,3,6,66,67,67,78]
x=enumerate(numbers)
list(x)

[(0, 3),
 (1, 3),
 (2, 4),
 (3, 4),
 (4, 36),
 (5, 5),
 (6, 3),
 (7, 6),
 (8, 66),
 (9, 67),
 (10, 67),
 (11, 78)]

In [2]:
name=['sumona','Mahmuda','Ritu','sorna','sayma','taposhi']
x=enumerate(name)
list(x)

[(0, 'sumona'),
 (1, 'Mahmuda'),
 (2, 'Ritu'),
 (3, 'sorna'),
 (4, 'sayma'),
 (5, 'taposhi')]

In [1]:
import turtle
turtle.forward(100)